:root {
	--primary-color: #7D1538;
	--secundary-color: #7FB7BE;
	--header-size: 4rem;
	--font: 1.8rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

header {
	background-color: var(--primary-color);
}

.nav {
	list-style: none;
	text-align: center;
}

.nav li {
	display: inline-block;
	padding: 20px;
	margin: 10px;
}

li a {
	text-decoration: none;
	font-size: 18px;
	color: #E2E8CE;
}

li:hover {
	background-color: #262626;
	padding: 22px;
}

main {
	width: 100vw;
	height: 70vh;
	font-size: var(--font);
}

h1 {
	font-size: var(--header-size);
	color: var(--primary-color);
}

footer {
	width: 100vw;
	height: 17.5vh;
	font-size: 2rem;
	background-color: var(--secundary-color);
	padding: 50px;
	clear: both;
	color: #040F16;
}

.autor {
	float: left;
}

.redes {
	float: right;
}

.redes a {
	color: #040F16;
	text-decoration: none;
	padding: 0 40px;
}

a {
	text-decoration: none;
	color:#B8711B;
}

a:hover {
	text-decoration: underline;
}

.formulario {
	background: #2C2C47;
	width: 50vw;
	padding: 30px;
	margin-bottom: 30px;
}

.formulario .form-group {
	width: 40vw;
	margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="password"] {
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 18px;
	border: none;
	vertical-align: top;
}

.formulario .icono {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px
	font-size: 18px;
	line-height: 18px;
	background: #c8c8c8;
	display: inline-block;
	color:#6b6b6b;
	vertical-align: top;
}

.formulario .icono.izquierda {
	margin-right: 4px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.formulario .usuario,
.formulario .password,
.formulario .color,
.formulario .docente-estudiante {
	width: calc(100% - 52px);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	font-size: 1.8rem;
	color: #fff;
}

.formulario .password_btn {
	width: calc(100% - 105px);
}

.formulario .error ul {
	padding: 0 15px;
}

.formulario .error ul li {
	margin-bottom: 10px;	
}

.formulario .submit-btn {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px
	font-size: 18px;
	line-height: 18px;
	background: #679863;
	display: inline-block;
	color:#fff;
	background: #769766;
	cursor: pointer;

	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.formulario .color1 {
	display: inline-block;
    width: 25px;
    height: 15px;
    margin-left: 10px;
    background-image: url(color1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.formulario .color2 {
	display: inline-block;
    width: 25px;
    height: 15px;
    margin-left: 10px;
    background-image: url(color2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.formulario .color3 {
	display: inline-block;
    width: 25px;
    height: 15px;
    margin-left: 10px;
    background-image: url(color3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texto-registrate {
	text-align: left;
	font-size: 1.2rem;
	margin-left: 260px;
}

.texto-registrate a {
	display: block;
	font-size: 18px;
}